/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #080e24;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
  
  .cta {
    top: 20.44rem;
    left: 56.13rem;
    border-radius: var(--br-5xs);
    background: linear-gradient(90deg, #d59da0, #f8cac9);
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1.75rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  .cta-button {
    position: relative;
    line-height: 1.31rem;
  }