

<div class="split left">
    <div class="centered">
        <p>Welcome to Altsys!</p>
        <p>
          A complete business solution that enables your firm to do
          business with us easily as well as adapt to security best
          practices.
        </p>
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
        <div class="container">
            <p class="sign-up-to">Sign up to begin platform assessment!</p>
            <form [formGroup]="login" (ngSubmit)="submit()" autocomplete="off">
                <p>
                    <mat-form-field>
                        <mat-label> Company Email ID </mat-label>
                        <input matInput type="text" formControlName="username" placeholder="Ex.: suryakumar@mail.com">
                        <mat-error *ngIf="login.get('username').errors && login.get('username').errors.email"> Invalid E-Mail
                            Pattern</mat-error>
                    </mat-form-field>
                </p>
                <div class="cta"><button mat-button type="submit" [disabled]="!login.valid">Continue</button></div>
            </form>
        </div>
    </div>
  </div>

 
  